<!DOCTYPE html>
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="css/style.css" />
  <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,300,500,700&subset=latin-ext' rel='stylesheet' type='text/css'>

  <title>SMARTdownloader</title>
</head>
<body class="preload">

  <header>
    <div id="header">
    </div>
  </header>

  <aside class="sitePosition">
    <div class="container">
      <p>Home / Dashboard</p>
    </div>
  </aside>

  <article>
    <div class="title">
      <div class="container">
        <h1>Dashboard</h1>
      </div>
    </div>

    <div class="container">
      <div id="accounts-list"></div>
      <div class="fileList">
        <div id="files-list"></div>
        <div id="files-controls"></div>
      </div>
    </div>
  </article>

  <section class="addNew">
    <label for="showOptions">+</label>
    <input type="checkbox" id="showOptions"></input>

    <ul>
      <li><a class="newFile">Dodaj pliki</a></li>
      <li><a class="newAccount">Dodaj konto</a></li>
    </ul>
  </section>

  <section class="addNewAccount">
    <div class="newForm">
      <form>
        <div class="fields">
          <span class="close">X</span>

          <h3>Account data</h3>

          <input type="text" name="login" placeholder="Login" />
          <input type="password" name="password" placeholder="Password" />

          <h3>Choose account color</h3>

          <div class="colors">
            <input type="radio" id="colorDefault" name="color" value="#22baa0" />
            <label for="colorDefault"></label>

            <input type="radio" id="colorRed" name="color" value="#f14e69" />
            <label for="colorRed"></label>
          </div>
        </div>

        <input type="submit" name="submit" value="ADD ACCOUNT" />
      </form>
    </div>
  </section>

  <section class="addNewFiles">
    <div class="newFiles">
      <form class="addition">
        <span class="close">X</span>

        <h3>List of URL's</h3>

        <textarea name="files" placeholder="np. http://rapidu.net/a/234234/adf3sdf6rvbt.html"></textarea>

        <div>
          <input type="submit" name="addFiles" value="Check" />
          <input type="submit" name="clearTextarea" value="Clear" />
        </div>
      </form>

      <div class="fileList">
        <table>
          <thead>
            <th><input type="checkbox" /></th>
            <th>Filename</th>
            <th>Filesize</th>
            <th>Status</th>
            <th>Hosting</th>
            <th>Account</th>
          </thead>

          <tbody>
            <tr>
              <td><input type="checkbox" /></td>
              <td>Capitan-America-Civil-War.mkv</td>
              <td>3.25 GB</td>
              <td><span class="available">Available</span></td>
              <td>Rapidu</td>
              <td><select><option>Chickeno</option></select></td>
            </tr>

            <tr>
              <td><input type="checkbox" /></td>
              <td>Capitan-America-Civil-War.mkv</td>
              <td>3.25 GB</td>
              <td><span class="inavailable">Inavailable</span></td>
              <td>Rapidu</td>
              <td><select><option>Chickeno</option></select></td>
            </tr>

            <tr>
              <td><input type="checkbox" /></td>
              <td>Capitan-America-Civil-War.mkv</td>
              <td>3.25 GB</td>
              <td><span class="unknown">Unknown</span></td>
              <td>Rapidu</td>
              <td><select><option>Chickeno</option></select></td>
            </tr>
          </tbody>
        </table>

        <p class="transferSum">Sum of transfer: 3.25 GB</p>

        <div>
          <button>Delete selected</button>
          <button>Add</button>
          <button>Cancel</button>
        </div>
      </div>
    </div>
  </section>
</script>
<script>
// jQuery(window).load(function() {
//     jQuery("body").removeClass("preload");
//
//     jQuery("section.addNew ul li a.newAccount").click(function() {
//         jQuery("section.addNewAccount").css( { 'opacity': '1', 'z-index': "99", "visibility": "visible" } );
//     });
//     jQuery("section.addNewAccount .newForm form .fields span.close").click(function() {
//         jQuery("section.addNewAccount").css( { 'opacity': '0', 'z-index': "-1", "visibility": "hidden" } );
//     });
//
//     jQuery("section.addNew ul li a.newFile").click(function() {
//         jQuery("section.addNewFiles").css( { 'opacity': '1', 'z-index': "99", "visibility": "visible" } );
//     });
//     jQuery("section.addNewFiles .newFiles form.addition span.close").click(function() {
//         jQuery("section.addNewFiles").css( { 'opacity': '0', 'z-index': "-1", "visibility": "hidden" } );
//     });
// });
</script> -->
</body>
</html>
