<!DOCTYPE html>
<head>
  <meta charset="utf-8" />
  <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,300,500,700&subset=latin-ext' rel='stylesheet' type='text/css'>

  <title>SMARTdownloader</title>
</head>
<body class="preload">

  <header>
    <div id="header">
    </div>
  </header>
  <aside class="sitePosition">
    <div class="container">
      <p>Home / Dashboard</p>
    </div>
  </aside>

  <article>
    <div class="title">
      <div class="container">
        <h1>Dashboard</h1>
      </div>
    </div>

    <div class="container">
      <div id="accounts-list"></div>
      <div class="fileList">
        <div id="files-list"></div>
        <div id="files-controls"></div>
      </div>
    </div>
  </article>

  <section class="addNew">
    <label for="showOptions">+</label>
    <input type="checkbox" id="showOptions"></input>

    <ul>
      <li><a class="newFile">Dodaj pliki</a></li>
      <li><a class="newAccount">Dodaj konto</a></li>
    </ul>
  </section>

<div id="popups-container">

</div>
<!-- <section id="add-new-account" class="addNewAccount">
</section>

<section id="add-new-files" class="addNewFiles">
</section> -->
</script>
<script>
// jQuery(window).load(function() {
//     jQuery("body").removeClass("preload");
//
//     jQuery("section.addNew ul li a.newAccount").click(function() {
//         jQuery("section.addNewAccount").css( { 'opacity': '1', 'z-index': "99", "visibility": "visible" } );
//     });
//     jQuery("section.addNewAccount .newForm form .fields span.close").click(function() {
//         jQuery("section.addNewAccount").css( { 'opacity': '0', 'z-index': "-1", "visibility": "hidden" } );
//     });
//
//     jQuery("section.addNew ul li a.newFile").click(function() {
//         jQuery("section.addNewFiles").css( { 'opacity': '1', 'z-index': "99", "visibility": "visible" } );
//     });
//     jQuery("section.addNewFiles .newFiles form.addition span.close").click(function() {
//         jQuery("section.addNewFiles").css( { 'opacity': '0', 'z-index': "-1", "visibility": "hidden" } );
//     });
// });
</script> -->
</body>
</html>
