@import "variables";

body {
  background-color: $primary-color-darker;
  padding: 20px;
}

h3, h2 {
  color: $primary-color-lighter;
  margin: $default-margin;
  font-size: $default-margin;
  text-transform: uppercase;
}
